h1 {
  text-align: center;
  color: orange

}

p {
  font-family:serif;
  font-size: 200%;
  color: orange;
}

.result {
  color: orange;
  background-color: #004d4d;
}

.btn {
  background-color: #ff6600; /*orange*/
  font-weight: bolder;
  color: #004d4d; /*dark green*/
}

label {
  color: #ff6600;
}

#inputNum {
  font-size: 300%;
  color: #004d4d;
}


.container {
  background-image: url(http://www.csibologna.it/master/foto_pagina_p/8969.jpg);
}
