h1 {
  text-align: center;
  color: orange
}

p {
  font-family:serif;
  font-size: 150%;
  color: orange;
}

.result {
  color: orange;
  background-color: #004d4d;
}
/*.sidebar {
  float:right;
  font-weight: bolder;
  color: brown;
  background-color: #F8C9A6;
  width: 20%;
  padding: 15px;
  text-align: center;
}*/

.btn {
  background-color: #ff6600;
  font-weight: bolder;
  color: #004d4d;
}


.well{
  background-color: #F8E2A6;
}

.container {
  background-image: url(http://www.csibologna.it/master/foto_pagina_p/8969.jpg);
}
